.trees-dropdown-container-left {
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
  
  top: 60px;
  left: 25px;
  width: 90%;
  border: none;
}

.tree-option-left {
  color: #000;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
}

.trees-dropdown-left {
  display: block;
  position: absolute;
  top: 35%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 2px;
  width: 90%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  font-size: 20px;
  border: 1.5px solid #888;
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  z-index: 1;
}

.button-left{
  display: block;
  position: absolute;
  top: 75%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.trees-dropdown-left:hover, .trees-dropdown-left:focus {
  border-color: rgb(50, 160, 255);
  box-shadow: 0 0 8px rgb(50, 160, 255);
}