.ca-button2-container {
  top: 0;
  left: 0; 
  width: 50%;
  height: 100%;
  display: inline-block;
  position: absolute;
  margin: 0;
  padding: 0;
}

.ca-button2 {
  overflow: visible;
  position: absolute;
  height: 90%;
  width: 90%;
  background-color: rgba(136, 187, 136, 0);
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border-radius: 10px;
  border: 4px outset #78a;
  cursor: pointer;
  transition: 0.4s;
  color: rgba(255, 255, 255, 0.346);
  
}

.ca-button2-text {
  display: inline-block;
  position: absolute;
  text-align: center;
  font-weight: bold;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  vertical-align: middle;
  width: 100%;
  font-size: 25px;
}

.ca-button2:hover {  
  background-color: rgb(50, 160, 255);
  border: 4px outset rgb(50, 160, 255);
}
.ca-button2:active {  
  background-color: rgb(50, 160, 255);
  border: 4px inset rgb(50, 160, 255);
}